div>a{
    display: block;
    float:left;
    text-decoration: none;
    border:none;
    border-spacing: 0px;
    width: 25%;
    text-align:center;
    background-color: darkgray;
    color: white;
    padding: 12px 0px;
    overflow: hidden;
}
.home{
    background-color: green;
}
.active{
    float: right;
    background-color: burlywood;
}
a:hover:not(.active){
    background-color: blueviolet;
} 

@media screen and (max-width:600px){
    div>a{
        width: 100%;
        background-color: lightgray;
    }
    .home{
        background-color: aquamarine;
    }
    .active{
        background-color: chartreuse;
    }
    
}